div.social.hidden-left
	a(href='https://www.facebook.com/sharer/sharer.php?u=' + app.content.url target='_blank')
		i.fab.fa-facebook-square
	a(href='https://twitter.com/home?status=Domowa%20Terapia!%20' + app.content.url target='_blank')
		i.fab.fa-twitter