div.hamburger(style='opacity: 0;')
	div
	div
	div

nav(style='opacity: 0;')
	div.logo
		img(src='/public/assets/Misia.svg' alt='logo')
		div.heart

	div.title
		h1 Domowa Terapia
			span.text
		h2 z dojazdem i opieką medyczną

	ul.nav-buttons
		li
			a(href='#o-mnie' title='O mnie. Domowa Terapeutka') O mnie
		li
			a(href='#galeria' title='Galeria') Galeria
		li
			a(href='#pytania' title='Pytania i odpowiedzi') Pytania i odpowiedzi
		li
			a(href='#umow-sie' title='Umów się') Umów się